#header {
    font-size: 50px;
    text-align: center;
}

#products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.product-photo {
    height: 100%;
}

.product-info {
    width: 200px;
    margin-left: 10px;
}

#footer {
    display: flex;
    flex-direction: column;
    background-color: #1d1b1f;
}

#links {
    display: flex;
    flex-direction: column;
    color: white;
}

#first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

#numbers {
    display: flex;
    flex-direction: column;
    color: white;
}

#github {
    color: white;
}
